amqp==5.3.1
backports.zoneinfo==0.2.1
billiard==4.2.4
camelot-py==0.10.1
celery==5.5.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
configparser==3.5.3
cryptography==46.0.3
et_xmlfile==2.0.0
excalibur-py==0.4.3
Flask==1.1.2
ghostscript==0.7
greenlet==3.1.1
itsdangerous==2.0.1
Jinja2==3.0.0
kombu==5.5.4
MarkupSafe==2.1.5
numpy==1.24.4
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.0.3
pdfminer.six==20250324
pdftopng==0.2.3
pillow==10.4.0
prompt_toolkit==3.0.52
pycparser==2.23
pypdf==3.17.4
PyPDF2==1.26.0
pypdfium2==5.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.45
tabulate==0.9.0
typing_extensions==4.13.2
tzdata==2025.3
vine==5.1.0
wcwidth==0.2.14
Werkzeug==0.16.1